<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>AJAX Server</title>
    <link rel="" href="style.css" media="screen" title="no title">

    <script type="template" id="GetAllPostsTemplate">

        <span >
            <h3>UserID:{{EntryId}}</h3>
        </span>

            <span >
                <h3>Author:{{Author}}</h3>
            </span>
            <span>
                <h3>Title:{{Title}}</h3>
            </span>
            <span>
                <h3>Text:{{Text}}</h3>
            </span>


    </script>

</head>

<body>
    <div class="container">
        <nav>
            <li><a href="#" onclick="getAllPosts()">Get all posts</a></li>
            <li><a href="#" onclick="getPostById()">Get post by ID</a></li>
            <li><a href="#" onclick="addNewPost()">Add new post</a></li>
            <li><a href="#" onclick="updatePost()">Update post</a></li>
            <li><a href="#" onclick="deletePost()">Delete post</a></li>

        </nav>
        <div class="results" id="getAllPosts"></div>
        <div class="results" id="getPostById"></div>
        <div class="results" id="addNewPost"></div>
        <div class="results" id="updatePost"></div>
        <div class="results" id="deletePost"></div>

    </div>
    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="tplFile.js"></script>
    <script type="text/javascript" src="ajax_methods.js"></script>



</body>

</html>
