* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #ccc;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, #ccc, #aaa);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, #ccc, #aaa);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, #ccc, #aaa);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, #ccc, #aaa);
    background-size: cover;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font: bold 18px "Montserrat", Arial, sans-serif;
    color: #021d26;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin: 0 auto;
    text-align: center;
}

h1 {
    display: block;
    text-align: justify;
    margin: 0 auto;
}

#result {
    width: 80%;
    height: 100%;
    clear: both;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

pre {
    padding: 30px;
}

h1 {
    font-size: 50px;
    margin: 0px auto 30px;
    text-align: center;
}

button {
    font: bold 18px "Montserrat", Arial, sans-serif;
    display: block;
    margin: 20px;
    background: #ccc;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    float: left;
    -webkit-transform: all 0.5s ease-in;
    -o-transform: all 0.5s ease-in;
    -moz-transform: all 0.5s ease-in;
    transform: all 0.5s ease-in;
}

button:hover {
    cursor: pointer;
    background-color: #00c3ff;
    color: #fcfcfc;
}

button:focus {
    outline: none;
}

span {
    text-transform: none;
}
