<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="style.css" media="screen" title="style">

</head>

<body>
    <div class="content">
        <h1>Result:</h1>

        <div id="result"></div>
    </div>

    <script type="template" id="template">
        <div class="wrapper">
            <span class="title">
            {{title}}
        </span>
            <span class="text">
            {{text}}
        </span>
        </div>
    </script>
    <script>
        'use strict';
        // function getData() {
        function getData() {
            var template, newTemplate, data, keys, i, j, result;

            template = document.getElementById('template').innerHTML;
            newTemplate = '';

            data = [{
                title: 'qwerty',
                text: 'iuh'
            }, {
                title: 'ytrewq',
                text: 'booooom'
            }, {
                title: 'asdfgh',
                text: 'stradajte'
            }];

            for (i = 0; i < data.length; i++) {
                var objData = data[i];
                console.log(objData);

                keys = Object.keys(data[i]);
                j = 0;
                j < keys.length;

                newTemplate += template.replace("{{" + keys[j] + "}}", objData[keys[j]]).replace("{{" + keys[j + 1] + "}}", objData[keys[j + 1]]);
                // newTemplate += template.replace("{{title}}", data[i].title).replace("{{text}}", data[i].text);

            }
            result = document.getElementById('result');
            result.innerHTML = newTemplate;
            document.body.appendChild(result);

            return alert('Your output code looks like this:' + newTemplate + 'Click OK to look at it in HTML!');

        };

        getData();
    </script>
</body>

</html>
