<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="style.css" media="screen" name="style">

</head>

<body>
    <div class="content">

        <h1>Who is in your group?</h1>
        <button type="button" name="button">Click to find!</button>
        <div id="result"></div>
    </div>

    <script type="template" id="template">
        <div class="wrapper">
            <span class="name">
                    {{name}}
                </span>
            <span class="surname">
                    {{surname}}
                </span>
        </div>
    </script>
    <script>
        'use strict';;
        (function() {
            var data = [{
                    name: 'Barack',
                    surname: 'Obama'
                }, {
                    name: 'Hilary',
                    surname: 'Clinton'
                }, {
                    name: 'Donald',
                    surname: 'Trump'
                }],

                template = document.getElementById('template').innerHTML,
                result = document.getElementById('result'),
                newTemplate = '',
                attachTemplateToData;

            function attachTemplateToData(template, data) {
                var i = 0,
                    len = data.length,
                    attach = '';


                var template, newTemplate, data, keys, key, reg, i, j, result;


                function replace(object) {

                    for (key in object) {
                        var newTemplate, key, reg;
                        newTemplate = (newTemplate || template).replace("{{" + key + "}}", object[key]);
                    }
                    return newTemplate;

                }
                for (i = 0; i < data.length; i++) {
                    attach += replace(data[i]);
                }
                return attach;

            };
            var button = document.querySelector('button');
            button.onclick = function() {
                result.innerHTML = attachTemplateToData(template, data);

            };

        })();
    </script>
</body>

</html>
